<nav>
  <div class="nav-wrapper" style="background-color: rose;">
    {% if user.is_authenticated %}
    <a href="#" class="brand-logo"> Welcome {{user.username}}</a>
    {% else %}
    <a href="#" class="brand-logo">Facebook</a>
    {% endif %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
      <li><a href="{% url 'post_detail' post.id %} ">View Stories</a></li>
      <li><a href="{% url 'change_password' %}">Change password</a></li>
      <li><a href="{% url 'profile' user.id %}">Edit Profile</a></li>
      <li><a href="{% url 'post' %}">Whats in your mind {{ user.username }} ?</a></li>
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="/">Register instead</a></li>
      <li><a href="/login">Login instead</a></li>
      {% endif %}
    </ul>
  </div>
</nav>